#allLogin {
    font-family: 'Poppins';
    width: 100%;
    max-width: none;

}
#imageCo {
    width: 540px;
    position: absolute;
    top: 30%;
}

#divConnexion{
    position: absolute;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 10%;
}

#title {
    color: black;
    position: absolute;
    left: 10%;

}

#productif {
    font-size: 300%;
}

.title {
    color: black;

}
#connexion{
color: #FFF9EC;
background-color: #309397;
border: 1px solid white;
border-radius: 35px;
}

#inscription {
    color: black;
}

.inputText {
    border: 2px solid #FFF9EC;
    background-color: #FFF9EC;
    border-bottom: 2px solid #309397;
}
#logoApside {
    width: 13%;
    position: relative;
    left: 20%;
}
#lien {
    color: #309397 ;
}
footer{
    position: absolute;
    top: 88%;
    left: 50%;
}



