

#divTodos {
    display: inline-block;
    position: absolute;
    left: 6%;
    top : 10%
}

#divTest {
    border: none;
    width: 200%;
    position: relative;
    right: 45%;
}

#textadd {
    border: 2px solid #F9BE7C;
    background-color: #F9BE7C;
    border-bottom: 2px solid #309397;
    display: inline-block;
}

#checkadd {
    display: inline-block;
}

#boutonadd {
    color: #FFF9EC;
    background-color: #309397;
    border: 1px solid white;
    border-radius: 35px;
    display: none;
}

#checkBouton {
    position: absolute;
    right: 12%;
}

#formadd {
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
    display: block;
}
.list-group{
    justify-content: space-between;
}

.list-group-item {
    position: relative;
    display: block;
    background-color:  #F9BE7C;
    border: none;

}


h1{
    color: antiquewhite;
}




body {
    font-size: 29em;
}

.custom-checkbox input[type="checkbox"],

.custom-checkbox .checked {
    display: none;
    color: #309397;
    font-size: 240%;
}
.custom-checkbox .unchecked {
    color: #E46472;
     font-size: 240%;
 }



.custom-checkbox input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;

}

.custom-checkbox input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}










